// Importação das variáveis fixas declaradas no Variaveis.scss

@use '../../Styles/Variaveis.scss' as *;

// Container do cabeçalho

.containerCabecalho {
    background-color: $cor-destaque;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    // Título do cabeçalho

    .titulo {
        font-size: 25px;
        color: $link-color;
        margin-bottom: 15px;
    }

    // Links de gerenciamento de tarefas e cadastro do usuário

    .links {
        list-style-type: none;
        color: $link-color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        font-size: 20px;
    }

    .link {
        cursor: pointer;
        position: relative;
    }

    .link::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: center;
        background-color: $link-color;
        transition: transform 0.3s ease-in-out;
    }

    .link:hover::after {
        transform: scaleX(1);
    }
}