// Variáveis fixas para usar em todos os arquivos .scss

$background: #151A28;
$cor-destaque: #ec0a3b;
$cor-fundo-modal: #A1A1A190;
$cor-fundo-cards: #f4eded;
$cor-botao: orange;
$font-color: black;
$font-size: 16px;
$cor-fonte: #000000;

// Resetando o CSS global

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Estilização fixa para todas as páginas

body {
    background-color: $background;
    color: $font-color;
    font-size: $font-size;
}