@use '../../Styles/Variaveis.scss' as *;

// Estilização da aba a fazer

.aFazer {
    margin-top: 20px;

    .titulo {
        text-align: center;
        color: white;
    }
}

// Estilizações da aba fazendo

.fazendo {
    margin-top: 20px;
    padding: 0 40px;
    border-right: 2px solid white;
    border-left: 2px solid white;

    .titulo {
        text-align: center;
        color: white;
    }
}

// Estilizações da aba pronto

.pronto {
    margin-top: 20px;

    .titulo {
        text-align: center;
        color: white;
    }
}