@use '../../Styles/Variaveis.scss' as *;

// Estilização dos cards

.cards {
    background-color: $cor-fundo-cards;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
    width: 350px;
    height: 350px;

    .paragrafo {
        font-size: 18px;
        line-height: 30px;   
    }

    // Botões de editar e excluir
    
    .containerBotoes {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    
        .botao {
            width: 25%;
            height: 35px;
            background-color: $cor-destaque;
            border: none;
            border-radius: 15px;
            color: $cor-fonte;
            font-size: 18px;
            cursor: pointer;
        }

        // Estilizando a borda do botão ao navegar com TAB

        .botao:focus-visible {
            outline: none;
            border: 3px solid black;
            border-radius: 15px;
        }
    }

    // Estilizando o status da tarefa

    .containerSelecao {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    
        .statusTarefas {
            padding: 3px;
            font-size: 18px;
            text-align: center;
            height: 35px;
            margin: 10px 0;
        }

        // Estilizando a borda dos selects ao navegar com TAB

        .statusTarefas:focus-visible {
            outline: none;
            border: 3px solid black;
        }
    
        .botaoStatus {
            cursor: pointer;
            width: 40%;
            height: 35px;
            background-color: $cor-destaque;
            color: $cor-fonte;
            font-size: 18px;
            border: none;
            border-radius: 15px;
        } 
        
        // Estilizando a borda do botão ao navegar com TAB

        .botaoStatus:focus-visible {
            outline: none;
            border: 3px solid black;
            border-radius: 15px;
        }
    }

    // Estilizando o botão de arrastar

    .botaoArrastar {
        text-align: end;
        margin-right: 10px;
    }

    .botaoArrasta {
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 15px;
        color: black;
        font-size: 30px;
        cursor: grab;
    }

    // Estilizando a borda do botão ao navegar com TAB

    .botaoArrasta:focus-visible {
        outline: none;
        border: 2px solid black;
    }
}