@use '../../Styles/Variaveis.scss' as *;

// Container do formulário

.containerFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    // Estilização do formulário

    .formulario {
        background-color: $cor-destaque;
        padding: 20px;
        border-radius: 20px;
        width: 500px;
        color: $link-color;
        margin: 50px 0;

        .titulo {
            font-size: 25px;
            text-align: center;
            margin-bottom: 15px;
        }

        .label {
            font-size: 18px;
        }

        .areaTexto {
            width: 100%;
            resize: vertical;
            overflow-y: auto;
            font-size: 18px;
            padding-left: 3px;
            margin: 5px 0;
            border-radius: 10px;
            border: none;
        }
        
        // Estilizando a borda da área de texto ao navegar com o TAB

        .areaTexto:focus-visible {
            outline: none;
            border: 3px solid magenta;
            border-radius: 15px;
        }

        .input {
            padding-left: 3px;
            font-size: 18px;
            margin: 5px 0;
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: none;
        }

        // Estilizando a borda dos inputs ao navegar com TAB

        .input:focus-visible {
            outline: none;
            border: 3px solid magenta;
            border-radius: 15px;
        }

        .selecao {
            font-size: 18px;
            margin: 5px 0;
        }

        // Estilizando a borda dos selects ao navegar com TAB

        .selecao:focus-visible {
            outline: none;
            border: 3px solid magenta;
        }

        .containerBotao {
            text-align: center;

            .botao {
                background-color: $background;
                border: none;
                border-radius: 15px;
                width: 30%;
                height: 30px;
                font-size: 18px;
                margin: 10px 0;
                cursor: pointer;
            }

            // Estilizando a borda do botão ao navegar com TAB

            .botao:focus-visible {
                outline: none;
                border: 3px solid magenta;
                border-radius: 15px;
            }
        }
    }
}