@use '../../Styles/Variaveis.scss' as *;

.titulo {
    margin-top: 10px;
    text-align: center;
}

// Estilização das tarefas

.kanban {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    
    // Estilização da aba a fazer

    .aFazer {
        margin-top: 20px;

        .tituloAFazer {
            text-align: center;
        }
    }

    // Estilizações da aba fazendo

    .fazendo {
        margin-top: 20px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        padding: 0 40px;

        .tituloFazendo {
            text-align: center;
        }
    }

    // Estilizações da aba pronto

    .pronto {
        margin-top: 20px;

        .tituloPronto {
            text-align: center;
        }
    }
}